:local(.price-list) {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

:local(.line-top) {
  border-top: 1px solid #ccc;
}

@media (min-width: 768px) {
  :local(.price-list) {
    padding-left: 20%;
    padding-right: 20%;
  }
}