/* Add a black background color to the top navigation */
:local(.navbar) {
    position: relative;
    background-color: #cc0000;
    margin-top: -6px;
    overflow: hidden;
    width: 100%
}

/* Style the links inside the navigation bar */
:local(.navbar a) {
    float: left;
    display: block;
    color: rgba(242, 242, 242, 0.9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

/* Change the color of links on hover */
:local(.navbar a:hover) {
    background-color: #e60000;
}

/* Hide the link that should open and close the topnav on small screens */
:local(.navbar .icon) {
    display: none;
}

:local(.navbar .brand a) {
    font-size: 1.2em;
    padding: 12px 16px;
    font-weight: bold;
}
:local(.navbar .brand a:hover) {
    background-color: #cc0000;
}

@media screen and (max-width: 767px) {
    :local(.navbar a:not(:first-child)){
      display: none;
    }
    :local(.navbar a.icon) {
        float: right;
        display: block;
    }
    :local(.navbar.responsive) {
        position: relative;
    }
    :local(.navbar.responsive a.icon) {
        position: absolute;
        right: 0;
        top: 0;
    }
    :local(.navbar.responsive a) {
        float: none;
        display: block;
        text-align: left;
    }

    :local(.desktop-only) {
        display: none;
    }
}

:local(.header-pic) {
    width:100%;
}