/*global*/
body {
    background-color: #ececec
    /*background: url('../resources/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}
/*layout*/
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*margin and padding*/
.m5 {
    margin: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}

.p5 {
    padding: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pl-5 {
    padding-left: 5px;
}

/*content*/
.topic {
    font-size: 1.5em;
}

.pos-right {
    float: right;
}

/*input button*/
.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.btn {
    padding: 14px 20px;
    margin: 8px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #cc0000;
}
.btn-primary:hover {
    background-color: #e60000;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.flex-container {
    display: flex;
    width:100%
}
.flex-item-1 {
    flex-grow: 1;
}
.flex-item-2 {
    flex-grow: 2;
}
.flex-item-3 {
    flex-grow: 3;
}
.flex-item-4 {
    flex-grow: 4;
}